<html>    
    <head>
        <title>My JS Client</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script type="text/javascript" src="client.js"></script>

		<link type="text/css" rel="stylesheet" href="client.css">
    </head>

    <body>
        <h3 class="header" >HTML-VueJS Client <===> NodeJS Server</h3>
        <br>
        <ul class="container phoneBook list-group">
            <div class="row list-group-item">
                <div class="col-md-9 col-xs-8" style="padding-top: 10px;"> <b> My Phone Book </b> </div>
                <div class="col-md-3 col-xs-4" style="padding-top: 10px;">
                    <button class="btn btn-success" value="Add New Contact" id="btnNewContact">Add New Contact</button>
                </div>
            </div>
            <div id="contactContainer"> 
                <li class="row list-group-item"  v-if="!serverOnline">
                    Error in server :( 
                    <br>
                    Check the console for details.
                </li>
                
                <li class="row list-group-item" v-if="serverOnline && phoneBookEmpty">
                    You have no contacts.. 
                    <br>
                    Try adding one :)
                </li>
                <li class="row list-group-item" v-if="serverOnline && !phoneBookEmpty"  v-for="x in phoneBook" v-bind:id=" x.id "  >
                    <div class="col-xs-1" > {{ x.seq }} </div>
                    <div class="col-xs-3" > {{ x.name }} </div>
                    <div class="col-xs-4" > {{ x.phone }} </div>
                    <div v-if="x.isFavourite" class="col-xs-1" > <i class="fa fa-star" aria-hidden="true"></i> </div>
                    <div v-if="!x.isFavourite" class="col-xs-1" > <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary btnUpdate" value="Update" >Update</button>
                        <button class="btn btn-danger btnDelete" value="Delete">Delete</button>
                    </div>
                </li>
            </div>
        </ul>
        
        <!-- Contact Form modal -->
		<div class="modal fade " style="margin-top: 100px" id="contactCardModal" tabindex="-1" role="dialog"  aria-hidden="true">
			<div class="modal-dialog " role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Contact Card</h3>
				</div>

				<div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="formname" class="control-label">Name: </label> (HINT : atleast 3 alphabets)
                            <input type="text" name="formname" class="form-control formName" required  />
                        </div>
                        <div class="form-group">
                            <label for="formPhone" class="control-label">Phone: </label> (HINT : atleast 8 numbers)
                            <input class="form-control formPhone" name="formPhone" id="message-text" />
                        </div>
                    </form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-success formSubmit" id="submit"> Submit </button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" > Cancel </button>
				</div>
			</div>
			</div>
        </div>
        
    </body>


</html>

