html    
    head
        title= title
    body
        h2= message
        li 
            a(href='http://localhost:3000/api/contacts/getAllContacts') Get All Contacts
        li 
            a(href='http://localhost:3000/api/contacts/getAContact/1') Get A Contact